body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #0d6efd;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-left: 0;
    margin: 10px 0;
}

.nav-links a {
    color: white;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: black;
    text-decoration: underline;
}

main {
    padding: 50px;
    max-width: 1000px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid;
}

th {
    background-color: #3967ac;
    color: white;
}

form {
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: auto;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

img {
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
    display: block;
    margin: 20px auto;
}

footer {
    background-color: #e9ecef;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #6c757d;
    font-size: 14px;
}

ul li {
    padding: 5px 0;
}

p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
}

p:first-child {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }
}
